.chips-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.chips-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 0px;
}

.popap {
  position: absolute;
  left: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 550px;
  background-color: #ebebeb;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 20px;
  overflow-x: auto;
  z-index: 10;
  margin-top: 80px;

  transform-origin: top center;
  animation: popapOpen 0.25s ease-out forwards;
}

.popap.closing {
  animation: popapClose 0.25s ease-in forwards;
}


@keyframes popapOpen {
  from {
    opacity: 0;
    transform: translate(-50%, -10px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0) scale(1);
  }
}

@keyframes popapClose {
  from {
    opacity: 1;
    transform: translate(-50%, 0) scale(1);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -10px) scale(0.95);
  }
}